In [ ]:
connection_string = "mongodb+srv://shubhampapal13:GHNqIignKCLfsnqe@cluster0.5pujf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0" 
#connection string to get from mongo DB cluster page

In [11]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Dell\\Desktop\\CLV_Store\\Customer-Lifetime-Value-Prediction\\notebook\\clv_op2.csv')
data = df.to_dict(orient='records')

In [17]:
import pymongo
DB_NAME = "CUSTOMER_LIFETIME_VALUE" #random name
COLLECTION_NAME = "clv_data" #random name
CONNECTION_URL = "mongodb+srv://shubhampapal13:GHNqIignKCLfsnqe@cluster0.5pujf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

#insert data to mongo DB to server 
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [ ]:
rec = collection.insert_many(data)

#create dataframe
records = collection.find()
df = pd.DataFrame(list(records))

In [22]:
df.head()

,_id,Country,Product,Entitlement Period,Marketing Channel,Family Type,HourSpendOnApp,Promo Applied,Cross sell Flag,Customer support satisfaction,Usage frequency per day,ASP,previous year retention,Retention Rate yr 1,Quarter
0,6778fa09ed80bca1ff2c3af7,USA,p1,Annual,Offline,Y,Medium,N,Y,5,4.0,54.99,79.995850,78.0,2020Q1
1,6778fa09ed80bca1ff2c3af8,USA,p2,Annual,Offline,Y,Medium,N,Y,5,6.0,89.99,81.547670,82.0,2020Q1
2,6778fa09ed80bca1ff2c3af9,India,p1,Annual,Offline,Y,Medium,N,Y,5,5.0,9.49,75.335279,72.0,2020Q1
3,6778fa09ed80bca1ff2c3afa,India,p2,Annual,Offline,Y,Medium,N,Y,4,3.0,9.90,81.283064,76.0,2020Q1
4,6778fa09ed80bca1ff2c3afb,Japan,p1,Annual,Offline,Y,Medium,N,Y,5,4.0,22.99,86.368573,88.0,2020Q1

In [23]:
from from_root import from_root